@import '~antd/es/style/themes/default.less';

@header-height: 4em;
@footer-height: 4em;

.invite {
  display: flex;
  flex-direction: column;
  height: 100%;

  .header {
    flex: @header-height 0;
    line-height: @header-height;
    padding-left: 2em;
    box-shadow: 2px 2px 2px 1px @shadow-color;
    font-size: 1.5em;
  }

  .body {
    position: relative;
    flex: 1;
    text-align: center;
    padding: 20px;

    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;

      .title {
        font-size: 2em;
        line-height: 1.05;
      }
      .subTitle {
        font-size: 1.5em;
        margin-bottom: 1em;
      }

      button {
        font-size: 1.5em;
        height: 2.5em;
      }
    }

    @media (max-width: @screen-sm-max) {
      .container {
        .title {
          font-size: 1.4em;
          line-height: 1.05;
        }
        .subTitle {
          font-size: 1em;
          margin-bottom: 1em;
        }

        button {
          font-size: 1em;
          height: 2.5em;
        }
      }
    }


  }

  .footer {
    flex: @footer-height 0;
    padding: 30px;
    text-align: center;
    box-shadow: -2px -2px 2px 1px @shadow-color;
  }
}
